* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    width:100%;
    height:800px;
    background-color: aquamarine;
    display:flex;
    color:aliceblue;
    font-size: 30px;
    /* flex-direction: row; xacs dinh huong phan tu  */
    /* flex-wrap: wrap; các phần tử thừa xuống dòng  */
    /* căn chỉnh item trong 1 hàng ngang  justify-content:  */
    /* alight-item : căn chỉnh item theo hàng dọc  */
    /* align-content: căn chỉnh hàng của item kết hợp vs wrap */
   
}
.box-1{
    width:150px;
    height:150px;
    background-color: brown;
    /* order: 2; */
}
.box-2{
    width:150px;
    height:150px;
    background-color: blue;
    /* order: 1; */
   
}
.box-3{
    width:150px;
    height:150px;
    background-color: black;
    /* order:4; */
}
.box-4{
    width:150px;
    height:150px;
    background-color: blueviolet;
    /* order:3;  xắp xếp thứ tự ko can thiệp đến html*/
    /* flex-grow: 1; tự động lấp đầy khoảng trống */
}