*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* thay đổi giá trị cuuar 1 thuộc tính :transitison */
.box-1{
    width: 300px;
    height:300px;
    background-color: brown;
    transition: width 1s ;
}
.box-1:hover {
    width: 600px;
    
   
}


/*thay doi gia tri nhieu thuoc tinh   */
.box-2 {
    width:300px;
    height:300px;
    background-color: blueviolet;
    transition: width .5s, height .5s;
}
.box-2:hover {
    width:600px;
    height:600px;
}
/*toc do chuyen doi cua transition  */
.wrap-box div {
    width:150px;
    height:150px;
    background-color: aqua;
    text-transform:uppercase;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;

    transition: width 2s;
    
}

.wrap-box .box-3 {
   transition-timing-function: linear; 
}
.wrap-box .box-4{
    transition-timing-function: ease;
}
.wrap-box .box-5{
    transition-timing-function: ease-in;
}
.wrap-box .box-6{
    transition-timing-function: ease-out;
}
.wrap-box .box-7{
    transition-timing-function: ease-in-out;
}

.wrap-box div:hover{
    width:600px;
}
/* độ trễ của hiệu ứng transition */
.box-8 {
    width:200px;
    height:200px;
    background-color: black;
    transition: width  2s, height 2s;
}
.box-8:hover{
    width:400px;
    height:400px;
    transition-delay: 2s;
}