/* Reset Browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

/* Thanh Phan Global */
.container {
  max-width: 1230px;
  margin: auto;
}

/* Header Top */
.header-top {
  width: 100%;
  height: 40px;
  background-color: #cd6420;
  position: relative;
}
.header-top-text {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: center; /*Can giua theo chieu ngang*/
  align-items: center; /*Can giau theo chieu doc*/
}
.header-top-text p {
  color: white;
  font-size: 16px;
}

.close {
  position: absolute;
  top: 50%;
  /* left: 50%; */
  right: 5px;
  transform: translate(-50%, -50%);

  width: 30px;
  height: 30px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  opacity: 0.5;

}

.close i {
  color: #252525;
}

/* hover - Di chuyen chuot qua phan tu */
.close:hover {
  opacity: 1; /* Do trong suot cua pt */
  cursor: pointer; /*Bien con tro chuot thanh ban tay*/
}

/* Header Main */
.header-main {
  width: 100%;
  height: 65px;

  background-color: #fff;
}

.wrap-header-main {
  display: flex;
  height: 65px;
  justify-content: space-between;
}

.header-main-left {
  /* width: 20%; */
  height: 65px;
  display: flex;
  align-items: center;
}
.header-main-left img {
  width: 145px;
  height: auto;
  object-fit: cover;
}


.header-main-center {
  /* width: 65%; */
  height: 65px;
  /* background-color: yellow; */
}
.menu-main {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
}
.menu-main li {
  margin-right: 20px;
  list-style: none; /*Bo dau cham the DS ul li*/
}

.menu-main li a {
  text-decoration: none; /*Bo gach chan the a*/
  color: black;
}


.header-main-right {
  /* width: calc(100% - (20% + 50%)); */
  height: 65px;
  display: flex;
}

.customer-left ul {
  display: flex;
  height: 65px;
  align-items: center;
}
.customer-left ul li {
  list-style: none;
  width: 35px;
  height: 35px;
  /* background-color: rgba(238, 238, 238, 0.4); */
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-left ul li:hover {
  background-color:  rgba(238, 238, 238, 0.4);
}

.customer-left ul .disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.customer-left ul .disabled:hover {
  background-color: #fff;
}




.customer-right {
margin-left: 20px;
}

.customer-right ul {
  display: flex;
  height: 65px;
  align-items: center;
}
.customer-right ul li {
  list-style: none;
  margin-left: 15px;
  position: relative;
}
.customer-right ul li i {
  font-size: 19px;
}
.customer-right ul li span {
  position: absolute;
  top: -12px;
  right: -8px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #fff;
}






.banner {
  border-top: 1px solid #111;
  width:100%;
}